.Worker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.Image {
    width: 30%;
    height: 5rem;;
    border: 2px solid black;
    background-color: #eee;
    border-radius: 50%;
}

.WorkerDetails {
    width: 50%;
    text-align: left;
    word-wrap: break-word;
}